*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
}
/* ---------------------------------

    Header

    ------------------------------------
*/
.header-conteiner{
    width: 98%;
    height: 100px;
    background-color: #E4E4E4;
    position: relative;
    /* top: 1px; */
    left: 0;
    margin: 1% 1%;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.navegador{
    width: 463px;
    height: 100%;
}
.navegador img{
    position: relative;
    width: 70px;
    height: 50px;
    margin: 25px 25px;
}

.navegador ul{
    position: relative;
    bottom: 75px;
    left: 120px;
}

.navegador ul a{
    display: inline-block;
    color: #1A293E;
    font-size: 2.6rem;
    padding-right: 20px;
    word-spacing: -2px;
    text-decoration: none;
}

.navegador ul a:hover{
    color: #B2CAEE;
}

.nav-redes{
    position: relative;
    width: 230px;
    height: 100%;
    left: 85%;
    bottom: 100%;
}
.nav-redes ul{
    position: relative;
    padding: 20px;
}

.nav-redes ul a{
    margin: 2%;
}

.nav-redes ul a img{
    width: 50px;
    height: 50px;

} 
/* ---------------------------------

    Main

    ------------------------------------
*/
.main-conteiner{
    margin: 1% 1%;
}

.main-conteiner .seccion1{
    position: relative;
    background-color: #1A293E;
    width: 50%;
    height: 893px;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.main-conteiner .seccion2{
    position: relative;
    bottom: 893px;
    width: 50%;
    left: 50%;
    height: 893px;
    background-color: #b2caeb;
    background-image: url(../portfolio1.5/img/SantiRecorte.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: 90%;  
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22); 
}

.main-conteiner .seccion1 h1{
    font-size: 10.0rem;
    position: relative;
    top: 442px;
    left: 73%;
    color: #E4E4E4;
    width: 234px;
}

.main-conteiner .seccion2 h1{
    font-size: 10.0rem;
    position: relative;
    top: 442px;
    right: -0.5%;
    color: #1A293E;
    width: 296px;
}

.main-conteiner .seccion-aboutMe{
    width: 100%;
    background-color: #B2CAEE;
    height: 400px;
    position: relative;
    bottom: 893px;
    
}

.seccion-aboutMe{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2% 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.main-conteiner .project{
    width: 100%;
    background-color: #D5DEEF;
    height: 400px;
    position: relative;
    bottom: 893px;
}
.project{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2% 0;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
    

.seccion-aboutMe div{
    color: #E4E4E4;
    /* height: 300px; */
    font-size: 1.6rem;
    font-weight: 900;
    position: relative;
    padding: 4rem;
    background-color: #1A293E;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    line-height: 30px;
}
img{
    width: 350px;
    height: 350px;
}

/* ---------------------------------

    Responsive Ipad

    ------------------------------------
*/
@media screen and (max-width:810px){
    .header-conteiner {
        width: 96%;
        height: 100px;
        background-color: #E4E4E4;
        position: relative;
        top: 1px;
        left: 6px;
        margin: 1% 1%;
        box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    }

    .nav-redes {
        position: relative;
        width: 230px;
        height: 100%;
        left: 70%;
        bottom: 100%;
    }

    .main-conteiner {
        margin: 1% 2%;
    }

    .main-conteiner .seccion1 h1 {
        font-size: 10.0rem;
        position: relative;
        top: 442px;
        left: 36%;
        color: #E4E4E4;
        width: 234px;
    }

    .main-conteiner .seccion-aboutMe {
        width: 100%;
        background-color: #B2CAEE;
        height: 400px;
        position: relative;
        bottom: 868px;
    }

    .main-conteiner .project {
        width: 100%;
        background-color: #D5DEEF;
        height: 400px;
        position: relative;
        bottom: 839px;
    }

}