<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <header class="cabecera">
        <nav class="navegador">
            <img src="./pngegg.png" alt="logo" class="logo">
            <ul>
                <a href="">home</a>
                <a href="">contact</a> 
                <a href="">about us</a> 
                <a href="">blog</a> 
            </ul>
        </nav>
    </header>
    <main class="principal"></main> 
    <aside class="alLado">
        <div>a</div>
        <div>2</div>
        <div>2</div>
        <div>3</div>
    </aside>
    
</body>
</html>